<button routerLink="/admin/esemete-list" >MINE TAGASI</button>

<br><br>

<form (ngSubmit)="onSubmit(editItemForm)" [formGroup]="editItemForm">
    <label>Nimetus</label><br>
    <input type="text" formControlName="title" placeholder= "Sisesta nimetus" required><br><br>
    <label>Hind</label><br>
    <input type="number"formControlName="price" placeholder= "Sisesta hind" required><br><br>
     <label>Kadekooria</label><br>
    <input type="text" size="70" formControlName="category" pattern="^[a-zA-Z]+$" placeholder= "Sisesta kategooria" required><br><br>
    <label>Pilt</label><br>
    <input type="text" size="70" formControlName="imgSrc" placeholder= "Sisesta pildi aadress" required ><br><br>
    <button [disabled]="editItemForm.invalid" class="btn btn-success" >SISESTA</button>
</form>
