{{ kuupaev | date }}  

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[3]" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>

 <!-- 
<br>
<label for="">Hiire peal paus</label>
<input [(ngModel)]="pauseOnHover" type="checkbox"><br>
<button (click)=onSaveChanges>Salvesta muutused</button>
<br><br>
two-way biding
korraga loeab ja saadab väärtust
seob ära muutuja typescriptis
väärtus liigub otse inputist muutuja .ts-s
-->





<div *ngIf="items.length == 0">ESEMEID EI OLE</div>

<div *ngFor="let item of items; let i = index">
    <img class="item-picture" routerLink="toode/{{i}}" src="{{ item.imgSrc }} ">
    <div class="item-title">{{ item.title | shortenTitle: 3 }}</div>
    <div class="item-price">{{item.price | itemPrice }}</div>
    <button class="btn btn-dark" (click)="onAddToCart(item)">Lisa ostukorvi</button>

</div>